services:
  db:
    image: postgres:15
    container_name: moneymap_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    ports:
      - "5432:5432"

  api:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: moneymap_api
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://admin:segredo@db:5432/moneymap_db
    depends_on:
      - db

volumes:
  postgres_data: